<footer class="footer-wrapper">
	<div class="container">
		<section>
			<div class="social-media">
				<a href="/">
					<img src="../assets/instagram.svg" aria-label="Instagram" />
				</a>
				<a href="/">
					<img src="../assets/linkedin.svg" aria-label="Linkedin" />
				</a>
				<a href="/">
					<img src="../assets/square-facebook.svg" aria-label="Facebook" />
				</a>
			</div>
			<p class="tagline">
				Made with great care in the chilling depths of my apartment in Chicago.
			</p>
			<p class="copyright">{% year %} <span>©</span> Peter Rattin</p>
		</section>
		<section>
			<nav class="footer-nav">
				<a href="about.html">About</a>
				<a href="portfolio.html">Portfolio</a>
				<a href="resume.html">Resume</a>
				<a href="contact.html">Contact</a>
			</nav>
		</section>
	</div>
</footer>
