<footer class="footer-wrapper">
	<div class="footer">
		<section>
			<div class="social-media">
				<a target="_blank" href="https://www.instagram.com/peterrattin/">
					<img src="../assets/instagram.svg" aria-label="Instagram" />
				</a>
				<a target="_blank" href="https://www.linkedin.com/in/peter-rattin/">
					<img src="../assets/linkedin.svg" aria-label="Linkedin" />
				</a>
				<a target="_blank" href="https://www.facebook.com/peter.rattin">
					<img src="../assets/square-facebook.svg" aria-label="Facebook" />
				</a>
			</div>
			<p class="tagline">
				Made with great care in the chilling depths of my apartment in Chicago.
			</p>
			<p class="copyright">{% year %} <span>©</span> Peter Rattin</p>
		</section>
		<section>
			<nav class="footer-nav">
				<a href="../about.html">About</a>
				<a href="../portfolio.html">Portfolio</a>
				<a
					href="../assets/Peter-Rattin-Web-Resume.pdf"
					class="resume-link"
					target="_blank"
					>Resume</a
				>
				<a href="../contact.html">Contact</a>
			</nav>
		</section>
	</div>
</footer>
<!-- Google tag (gtag.js) -->
<script async src=“https://www.googletagmanager.com/gtag/js?id=G-6RP4QBRG79”></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag(‘js’, new Date());
  gtag(‘config’, ‘G-6RP4QBRG79’);
</script>
