<header>
	<div class="container">
		<a href="/" class="brand">
			<h2>Rattin<span>Design</span></h2>
		</a>
		<nav>
			<a href="../about.html" class="about">About</a>
			<a href="../portfolio.html" class="portfolio">Portfolio</a>
			<a
				href="../assets/Peter-Rattin-Web-Resume.pdf"
				target="_blank"
				class="resume"
				>Resume</a
			>
			<a href="../contact.html" class="contact">Contact</a>
		</nav>
		<button class="hamburger">
			<div class="bar"></div>
		</button>
	</div>
</header>
<nav class="mobile-nav">
	<a href="../about.html" class="about-link">About</a>
	<a href="../portfolio.html" class="portfolio-link">Portfolio</a>
	<a
		href="../assets/Peter-Rattin-Web-Resume.pdf"
		class="resume-link"
		target="_blank"
		>Resume</a
	>
	<a href="../contact.html" class="contact-link">Contact</a>
</nav>
