---
layout: base.njk
permalink: "portfolio/financial-worksheet-project.html"
title: Finanical Worksheets Project
pageId: portfolioFW
---

<div class="container">
	<img src="../assets/DBWidgetCover.png" alt="Dashboard Widgets Case Study" />
</div>
<div class="container">
	<h1>Financial Worksheets Mobile Feature</h1>
	<h2>
		AccuLynx’s financial worksheet is an interactive hub for users that displays
		important financial information for their specific roofing jobs.
	</h2>
</div>
<div class="">
	<div class="challenge">
		<h3>The Challenge</h3>
		<p>
			There were many elements designed for the Financial Worksheets feature on
			our web application that would translate poorly in a mobile setting. My
			challenge for this project was to determine which functions were important
			to include in the mobile version and which ones would result in a poor
			user experience.
		</p>
	</div>
	<div class="objective">
		<h3>Project Objective</h3>
		<p>
			My objective for this project was to adapt a complicated web feature for
			mobile. Customers had provided feedback requesting this feature be added
			to our mobile app. The goal was to use existing customer feedback to
			understand what our customers needed in the feature and then create a
			mobile-appropriate version.
		</p>
	</div>
</div>
<div class="designProcess">
	<h3>Design Process</h3>
</div>
<div class="container">
	<h3>Learning and Understanding the Feature</h3>
	<p>
		The first thing I do when starting a new project is product discovery. This
		feature already existed on our web app, so my first step was to do research
		on the behaviors and conditions of the current web feature. I created task
		flows for each of the key actions to understand the user’s path and to help
		me block out the number of screens I would need. Below are a few examples of
		the flows I made to understand the complex feature.
	</p>
</div>
<div class="container">
	<img
		src="../assets/fwTaskFlow.png"
		alt="Financial Worksheet Web Tasks Flow"
	/>
</div>
<div class="container">
	<h3>Understanding Who This is Made For</h3>
	<p>
		AccuLynx’s mobile app has existed for several years, so the personas for
		their customers were already created. Nonetheless, it was important for me
		to understand who we were building the feature for, as well as the use cases
		for it. I spoke with internal stakeholders and studied our personas to gain
		a better understanding of both.
	</p>
</div>
<div class="container">
	<img
		src="../assets/fwUnderstanding.png"
		alt="Financial Worksheets: Who is this made for?"
	/>
</div>
<div class="container">
	<h3>Rapid Sketching</h3>
	<p>
		The next step in the process was to quickly sketch out ideas for the
		different screens we would need for the feature. This is always my favorite
		part of the process because it allows me to be creative and can help spark
		ideas that we can then use when designing the screens.
	</p>
</div>
<div class="container">
	<img src="../assets/fwRapidSketching.png" alt="Rapid Sketching" />
</div>
<div class="container">
	<h3>Lo-Fi Designs</h3>
	<div>
		<p>
			Based off the sketches I made, I created some lo-fi designs to help me
			visualize which concepts worked and which ones did not. Making quick,
			blocked-out designs helps me test a lot of ideas in a short amount of
			time. These designs also allow for dialogue with my team’s developers and
			product managers to better understand the amount of time each design will
			take to develop and whether some design elements are worth including.
		</p>
	</div>
</div>
<div class="container">
	<img src="../assets/fwLoFiDesigns.png" alt="Lo-Fi Designs" />
</div>
<div class="container">
	<h3>User Research</h3>
	<p>
		My design partner and I conducted six usability tests that gave us insight
		into changes that needed to be made to our designs.<br />
		<br />
		We provided our participants with several scenarios and asked them to show
		us how they would complete each task on a handful of different clickable
		prototypes. The test consisted of four scenarios with multiple tasks to
		complete for each. A summary of the scenarios and each of the prototypes can
		be found below.
	</p>
</div>
<div class="container">
	<div class="leftside">
		<h3>HI-Fi Prototype</h3>
		<img src="../assets/userResearch.png" alt="User Research" />
	</div>
	<div class="rightside">
		<div class="listItem">
			<h6>Scenario 1:</h6>
			<p>
				Users were asked to explain how they would finalize a job value after
				completing their estimates for a job.
			</p>
		</div>
		<div class="listItem">
			<h6>Scenario 2:</h6>
			<p>
				Users were asked to import several items from a non-primary estimate
				into the financial worksheet and then save their progress.
			</p>
		</div>
		<div class="listItem">
			<h6>Scenario 3:</h6>
			<p>
				Users were asked to add a new child item to the package that they had
				just imported.
			</p>
		</div>
		<div class="listItem">
			<h6>Scenario 4:</h6>
			<p>Users were asked to submit and approve their completed worksheet.</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="leftside">
		<h3>Key Findings:</h3>
	</div>
	<div class="rightside">
		<div class="listItem">
			<p>
				Below is a list of my key findings from the usability tests that my
				partner and I conducted:
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Key Finding 1:</b>
				Users were getting lost in the nested items layout and often
				misunderstood their location in the feature.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Key Finding 2:</b>
				It was not clear to users which items were parent items and which were
				child items.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Key Finding 3:</b>
				The users expected that after changes were made to the financial
				worksheet, the customer would somehow be notified of the changes.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Key Finding 4:</b>
				Users were confused why both the “submit for approval” and the “approve”
				buttons were available to them at the same time.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Key Finding 5:</b>
				Many of the users expressed their fear that they would lose their
				progress if they used the back button to return to the previous screen.
			</p>
		</div>
	</div>
</div>
<div class="container">
	<img src="../assets/adobestock1.png" alt="Lo-Fi Designs" />
</div>
<div class="container">
	<div class="leftside">
		<h3>Next Steps and Recommendations</h3>
	</div>
	<div class="rightside">
		<div class="listItem">
			<p>
				Based on the user research, I created a list of next steps and
				recommendations that would help better align the designs with what the
				users were looking for:
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Recommendation 1:</b>
				Rework the nesting of parent and child items on the Financial Worksheets
				so that users know where they are in the navigation at all times.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Recommendation 2:</b>
				Revisit the design for the “import from estimate” feature to make it
				more clear which estimate is being viewed and the items that have been
				selected.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Recommendation 3:</b>
				Re-examine the overview page designs so that users quickly know how to
				add amendments and view their Financial Worksheets.
			</p>
		</div>
	</div>
</div>
<div class="container">
	<h3>Please stay tuned to see the finished product!</h3>
	<p>
		We are still in the process of making the necessary changes to our designs
		and getting approval from company stakeholders.
	</p>
</div>
