---
layout: base.njk
permalink: "portfolio/invoice-worksheets-mobile-project.html"
title: Invoice Worksheets Mobile Project
pageId: portfolioIW
---

<div class="container">
	<img src="../assets/invoiceCover.png" alt="Dashboard Widgets Case Study" />
</div>
<div class="container">
	<h1>Invoice Worksheets Mobile Feature</h1>
	<h2>
		Invoice worksheets are intended to provide a financial summary for a job and
		request the company’s approval before roofing work continues. Invoice
		worksheets collect all the information that has been agreed upon during the
		estimation stage and help manage financial changes.
	</h2>
</div>
<div class="container">
	<div class="challenge">
		<h3>The Challenge</h3>
		<p>
			My challenge as a designer for this project was to understand how this
			feature could complement and enhance the existing financial worksheet. It
			was crucial to understand the use cases for this feature in a mobile
			setting in order to create the most intuitive experience for our users.
		</p>
	</div>
	<div class="objective">
		<h3>Project Objective</h3>
		<p>
			My objective for this project was to understand the specific use cases in
			which a salesperson would create an invoice in a mobile setting. Our web
			invoice feature is far more complex, so I needed to find a way to provide
			a simplified but still useful mobile feature.
		</p>
	</div>
</div>
<div class="container designProcess">
	<h3>Design Process</h3>
</div>
<div class="container">
	<h3>Learning and Understanding the Feature</h3>
	<p>
		The invoice feature that exists on our web app is very complicated, so I
		created several task flows to understand the logic and behaviors involved in
		the feature. The task flows helped me understand the type of screens I
		needed to create for our mobile app. These flows are especially thorough
		because there are many add-on features a customer could have that would give
		them entirely new options within invoices.
	</p>
</div>
<div class="container">
	<img src="../assets/invoiceFlow.png" alt="Invoice Worksheet Web Flow" />
</div>
<div class="container">
	<h3>Understanding Who This is Made For</h3>
	<p>
		For this project, it was important to understand the role invoices play in
		an Acculynx user’s sales process. The business informed us that they wanted
		the invoices to be less complex than the web feature and to focus on
		specific sales use cases. We began by interviewing the stakeholders in our
		company that speak with our customers on a daily basis to better understand
		their needs. Below are the findings from those interviews with our
		stakeholders.
	</p>
</div>
<div class="container">
	<div class="leftside">
		<h3>Key Findings:</h3>
	</div>
	<div class="rightside">
		<div class="listItem">
			<p>
				Below is a list of my key findings from my interviews with AccuLynx
				stakeholders:
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Key Finding 1:</b>
				Sales users do not need the option to record their invoices as they do
				not have access to the QuickBooks add-on. This is an important feature
				for other users that is not needed for the company’s salespeople.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Key Finding 2:</b>
				Most sales users have someone in their company’s office that handles
				payments, creates invoices, and manages any additional billing.
				Therefore, the mobile app does not need to include these functions.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Key Finding 3:</b>
				The users expected that after changes were made to the financial
				worksheet, the customer would somehow be notified of the changes.
			</p>
		</div>
	</div>
</div>
<div class="container">
	<h3>User Personas and Journey Map</h3>
	<div>
		<p>
			Below are the user personas and user journey map I created based on the
			findings from our interviews. These documents helped our entire team align
			our goals for the product and really understand who we were creating this
			feature for.
		</p>
		<a href="#">Download my Personas and Journey Map</a>
	</div>
</div>
<div class="container">
	<img src="../assets/personasJorneyMap.png" alt="Personas and Jorney Map" />
</div>
<div class="container">
	<h3>Rapid Sketching</h3>
	<p>
		The next step in the process was to sketch out some ideas based on our
		findings from our stakeholder interviews. This allowed me to test out a
		variety of ideas without spending too much time creating them.
	</p>
</div>
<div class="container">
	<img src="../assets/iwRapidSketching.png" alt="Rapid Sketching" />
</div>
<div class="container">
	<h3>Lo-Fi Designs</h3>
	<div>
		<p>
			Through sketching, I discovered the same issues we had displaying nested
			items in the Financial Worksheet were issues we also needed to address in
			the invoices. Below are the designs I wanted to expand upon further and
			get feedback on from other designers. These designs were meant to
			experiment with the way we would display our invoices with unlimited
			nested items — a web feature AccuLynx wanted in mobile that quickly became
			a UX nightmare.
		</p>
	</div>
</div>
<div class="container">
	<img src="../assets/iwLoFiDesigns.png" alt="Lo-Fi Designs" />
</div>
<div class="container">
	<h3>Internal User Research</h3>
	<p>
		After reviewing my lo-fi designs with the developers and project managers,
		we had several mobile-specific designs that we wanted to get in front of our
		stakeholders before testing with our actual customers.<br />
		<br />
		I conducted six internal usability tests that were meant to help us find any
		obvious irregularities or inaccuracies in our prototypes and scenarios
		before testing with customers. I ran the participants through a number of
		common mobile scenarios for the feature to find out if the flow made sense.
	</p>
</div>
<div class="container">
	<div class="leftside">
		<h3>Internal Research Key Findings</h3>
	</div>
	<div class="rightside">
		<div class="listItem">
			<p>
				Below is a list of my key findings from the internal usability tests:
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Key Finding 1:</b>
				Many users suggested that due to the problems we were having displaying
				all the nested items, we may not have to display them at all.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Key Finding 2:</b>
				We found out that the action the users would find most useful would be
				to email/text a payment request to the customer. Sales users do not
				typically create invoices, but it is common for them to send them out.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Key Finding 3:</b>
				The participants voiced that the designs were too complicated and they
				suggested simplifying the feature and concentrating on a few specific
				use cases.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Key Finding 4:</b>
				Lastly, a user suggested that the best option may be to only display the
				auto-generated invoice preview instead of attempting to display all the
				invoice items at once.
			</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="leftside">
		<h3>HI-Fi Prototype</h3>
		<img src="../assets/userResearch.png" alt="HI-Fi Prototype" />
	</div>
	<div class="rightside">
		<div class="listItem">
			<p>
				I made the necessary changes to the prototype and scenarios based on the
				feedback from our stakeholders. I stripped the feature down to a few key
				elements and wanted to test it with some real customers. Below is the
				prototype and summaries of the scenarios we used for participants.
			</p>
			<h6>Scenario 1:</h6>
			<p>
				We began by asking our users to create a simple invoice from the
				application and link a payment to the newly created invoice.
			</p>
		</div>
		<div class="listItem">
			<h6>Scenario 2:</h6>
			<p>
				The users were then asked to create a sequence of three invoices for a
				new customer and edit the balances on each invoice.
			</p>
		</div>
		<div class="listItem">
			<h6>Scenario 3:</h6>
			<p>
				The final scenario was to create a new invoice using all the data they
				already had in their Financial Worksheets.
			</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="leftside">
		<h3>External Testing Key Findings</h3>
	</div>
	<div class="rightside">
		<div class="listItem">
			<p>
				After having some internal stakeholders review it, it was time to get
				the prototype to some of our actual customers. At Acculynx, I found that
				speaking directly with the customers was the best way to understand
				their needs and deliver the most useful product. Below are the most
				valuable findings we received from our tests.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Key Finding 1:</b>
				Our users are not using the feature the way we originally thought. Sales
				reps are using it to view invoices made by the office team rather than
				creating invoices themselves.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Key Finding 2:</b>
				Mobile users are not using a lot of the actions that we included in the
				feature and they use it mostly to send out emails.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Key Finding 3:</b>
				Most companies do not allow their sales reps to edit financial
				documents, and most of the time, they do not want them handling any
				payments.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Key Finding 4:</b>
				Production manager is the role that would find this app most helpful in
				a mobile setting. Sales reps often do not have permission to collect any
				payments for a job.
			</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="leftside">
		<h3>Next Steps and Recommendations</h3>
	</div>
	<div class="rightside">
		<div class="listItem">
			<p>
				Based on the user research from both our internal and external users, I
				created a list of next steps and recommendations that would help align
				the designs better with what the users are looking for.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Recommendation 1:</b>
				We should shift our focus away from the sales users and think more about
				how this feature will be useful to production managers.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Recommendation 2:</b>
				We should simplify the feature and remove the numerous actions that we
				learned are not useful for mobile users.
			</p>
		</div>
		<div class="listItem">
			<p>
				<b>Recommendation 3:</b>
				We should include some “Quick Actions” that allow sales reps to quickly
				text or email invoices out to customers without having to view the
				invoice first.
			</p>
		</div>
	</div>
</div>
<div class="container">
	<h3>Please stay tuned to see the finished product!</h3>
	<p>
		We are still in the process of making the necessary changes to our designs
		and getting approval from company stakeholders.
	</p>
</div>
