---
layout: base.njk
permalink: "about.html"
title: About Peter Rattin's
pageId: about
---

<div class="container">
	<div>
		<h1>About Me</h1>
		<p>
			Having graduated with my Bachelor’s in Fine Arts and Master’s in
			Human-Computer Interaction, I now do most of my learning outside the
			classroom. I’m always researching and learning new skills and techniques
			to continue growing as a designer and improving users’ experiences.
		</p>
		<p>
			As an artist-turned-designer, I strive to infuse creativity into and evoke
			emotion through my designs.
		</p>
		<p>
			I am a designer that wears many hats, but ultimately, I love being at the
			intersection of research and design. Harnessing the data and knowledge
			collected from user research, I aim to create sophisticated and
			user-friendly designs.
		</p>
		<p class="bold">
			My skills don’t end at design…Check <a href="">this</a> out!
		</p>
	</div>
	<img src="./assets/about-peter.png" alt="" />
</div>
