---
layout: index-base.njk
title: Welcome to Peter Rattin's Portfolio
pageId: home
---

<div class="container">
	<div>
		<img
			class="peterPortraitMobile"
			src="./assets/peterPortrait.png"
			alt="Peter's Mobile Portrait"
		/>
		<div class="effect-wrapper">
			<h1>
				Hello, I'm<br />
				<span class="name">Peter Rattin</span><br />
				<span class="startRole">I'm a(n)</span>
				<br />
				<span id="typed" class="roleTitle"></span>
				<span class="cursor"></span>
			</h1>
		</div>
		<div>
			<h3>
				A creative and empathetic designer focused on creating useful and
				useable designs.
			</h3>
			<div class="button-container">
				<a href="portfolio.html" class="button-item">Check Out My Work</a>
				<div class="spacer"></div>
				<a
					href="../assets/Peter-Rattin-Print-Resume.pdf"
					target="_blank"
					class="button-item outline"
					>Download My Resume</a
				>
			</div>
		</div>
	</div>
	<img
		class="peterPortrait"
		src="./assets/peterPortrait.png"
		alt="Peters Portrait"
	/>
</div>
