---
layout: base.njk
permalink: "portfolio.html"
title: Welcome to Peter Rattin's Portfolio
pageId: portfolio
---

<div class="container">
	<h1>My Portfolio</h1>
	<p class="subheader">
		Below are some case studies for projects I worked on as a mobile product
		designer for AccuLynx, a software company for roofing . The features were
		all additions to AccuLynx’s Field App, which was designed to help
		salespeople while on their job sites.
	</p>
</div>

<div class="container portfolioGrp">
	<a href="portfolio/#" class="portfolioItem">
		<img src="../assets/invoiceCover.png" alt="Invoice Worksheets Case Study" />
		<h3>Invoice Worksheets Case Study</h3>
	</a>
	<a href="portfolio/financial-worksheet-project.html" class="portfolioItem">
		<img src="../assets/fwCover.png" alt="Financial Worksheets Case Study" />
		<h3>Financial Worksheets Case Study</h3>
	</a>
	<a href="portfolio/dashboard-widget-project.html" class="portfolioItem">
		<img src="../assets/DBWidgetCover.png" alt="Dashboard Widgets Case Study" />
		<h3>Dashboard Widgets Case Study</h3>
	</a>
</div>
