---
layout: portfolio-base.njk
permalink: "portfolio.html"
title: Welcome to Peter Rattin's Portfolio
pageId: portfolio
---

<div class="container titleGrp">
	<h1>My Portfolio</h1>
	<p class="subheader">
		Below are some case studies for projects I worked on as a mobile product
		designer for AccuLynx, a software company for roofing . The features were
		all additions to AccuLynx’s Field App, which was designed to help
		salespeople while on their job sites.
	</p>
</div>

<div class="container portfolioGrp">
	<div class="portfolioItemGrp">
		<a
			href="portfolio/contacts-redesign-project.html"
			class="portfolioItem pink"
		>
			<img
				class="portfolioItemImg"
				src="./assets/ContactsProjectPortfolioImage.png"
				alt="Invoice Worksheets Case Study"
			/>
			<h2 class="portfolioItemText">Contacts Redesign</h2>
		</a>
	</div>
	<div class="portfolioItemGrp">
		<a
			href="portfolio/invoice-worksheets-mobile-project.html"
			class="portfolioItem blue"
		>
			<img
				class="portfolioItemImg"
				src="./assets/invoiceCover.png"
				alt="Invoice Worksheets Case Study"
			/>
			<h2 class="portfolioItemText">Invoice Worksheets Case Study</h2>
		</a>
	</div>
	<a
		href="portfolio/financial-worksheet-project.html"
		class="portfolioItem green"
	>
		<img
			class="portfolioItemImg"
			src="./assets/fwCover.png"
			alt="Financial Worksheets Case Study"
		/>
		<h2 class="portfolioItemText">Financial Worksheets Case Study</h2>
	</a>
	<a
		href="portfolio/dashboard-widget-project.html"
		class="portfolioItem orange"
	>
		<img
			class="portfolioItemImg"
			src="./assets/DBWidgetCover.png"
			alt="Dashboard Widgets Case Study"
		/>
		<h2 class="portfolioItemText">Dashboard Widgets Case Study</h2>
	</a>
</div>
