@use "abstracts" as *;
@use "base" as *;
@use "font-face" as *;

// NAVIGATION //
.hamburger {
	position: relative;
	display: block;
	width: 35px;
	cursor: pointer;

	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	margin: 9px 0px;
	transition: 0.4s;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: $color-blue-dark-90;
	padding-top: 120px;
	transition: 0.4s;
	@extend %sans-pro-bold;
	font-size: 20px;
}

.mobile-nav.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	max-width: 260px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 20px 16px;
	background-color: $color-blue;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	box-shadow: 2px 2px 4px 2px $color-blue-dark-20;
	letter-spacing: 0.5;
}

.mobile-nav a:hover {
	background-color: $color-blue-lite;
}

@media (min-width: 768px) {
	.mobile-nav {
		display: none;
	}

	.hamburger {
		display: none;
	}
}

header {
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	background-color: $color-blue;
	border-bottom: 10px solid $color-blue-dark;
	box-shadow: 0 -6px 10px 10px $color-black-50;

	.container {
		padding-top: 28px;
		padding-bottom: 24px;
		@media (max-width: 767px) {
			padding-top: 16px;
			padding-bottom: 14px;
		}
		display: flex;
		justify-content: space-between;
		align-items: center;
		a {
			color: #fff;
			text-decoration: none;
		}

		nav {
			display: grid;
			grid-gap: 10px;
			@media (min-width: 1024px) {
				grid-gap: 20px;
				letter-spacing: 1;
			}
			grid-template-columns: repeat(4, auto);

			@media (max-width: 767px) {
				display: none;
			}

			a {
				text-decoration: none;
				padding: 5px 10px;
				border-radius: 4px;
			}
			a:hover {
				background-color: $color-blue-lite;
			}
		}
	}
	&.is-scrolling {
		background-color: $color-blue;
		.container {
			padding-top: 16px;
			padding-bottom: 14px;
		}
	}
}
@media (max-width: 767px) {
	.hide-mob {
		display: none;
	}
}

// Active State
#about > header > div > nav > .about {
	background-color: $color-blue-lite;
}
#portfolio > header > div > nav > .portfolio {
	background-color: $color-blue-lite;
}
#contact > header > div > nav > .contact {
	background-color: $color-blue-lite;
}

// BUTTONS //
.buttons {
	width: 100%;

	background-color: $color-blue;
	padding: 1rem;
	border: 0px;
	border-radius: 8px;
	color: $color-white;
	margin: 1rem 0;
	box-shadow: 2px 2px 4px 2px $color-black-50;

	cursor: pointer;
	transition: 0.3s background ease;
}
.button:hover {
	background-color: $color-blue-lite;
	transform: rotate(5deg);
}
